/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

table, .book,.new_book,.new_title, .new_body,.edit_text,.edit_book {
  color: #333333;
}

.book{
  margin: 17.42px 0px;
}

th {
  height: 24px;
  padding: 0px;
}

td{
  padding: 1px 5px 5px 7px;
  margin: 33px;
}

.url{
  color: #000000;
}

.new_book{
  margin: 16.185px 0px;
}

.title {
  width: 192px; /* 適切な幅を指定 */
}

.body {
  width: 400px; /* 適切な幅を指定 */
}

.text_title {
  padding: 1px 2px;
}

.area{
  padding: 2px;
}

.form,.submit{
  display: block;
  padding: 1px 6px;
}

.flex_index{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 33px;
}

.success{
  color: #008000;
  margin: 33px;
}

.box_index{
  margin: 33px;
  font-size: 13px;
}

.url_index{
  color: #000000;
}

.edit_book{
  margin: 17.42px 0px;
}

.edit_box{
  margin: 0px 0px 10px
}

.edit_titletext{
  padding: 1px 2px;
}

.edit_bodytext{
  padding: 2px;
}

.edit_update{
  padding: 1px 6px;
}

.edit_text{
  font-size: 13px;
}